<section class="footer-site bg-dark text-white py-4 mt-5">  
    <div class="container">
        <div class="row">
            <div class="d-flex flex-wrap justify-content-center gap-2">
                <a href="index.html" class="btn btn-info">Home</a>
                <a href="https://github.com/Geoguitar/tech-challenge" target="_blank" class="btn btn-info">Projetos 1</a>
                <a href="https://github.com/Geoguitar/tech-challenge-fase3" target="_blank" class="btn btn-info">Projetos 2</a>
                <a href="https://github.com/Geoguitar/tech-challenge-fase4" target="_blank" class="btn btn-info">Projetos 3</a>
                <a href="https://github.com/Geoguitar/tech-challenge-fase5" target="_blank" class="btn btn-info">Projetos 4</a>
                <a href="https://github.com/Geoguitar/hackathon-fiap" target="_blank" class="btn btn-info">Projetos 5</a>
            </div>
        </div>
    </div>
</section>